################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChessGame/FileContentIndex/259912f2-df20-4b83-a80f-207ee32f698b.vsidx
